[package]
name = "script-kit-gpui"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "script-kit-gpui"
path = "src/main.rs"

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed" }
# global-hotkey = "0.7"  # TODO: Re-enable when implementing global hotkey toggle
